!/log/.keep
!/storage/.keep
!/tmp/.keep
.byebug_history
.nvmrc
.ruby-gemset
.ruby-version
.yarn-integrity
/.bundle
/config/master.key
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/storage/*
/tmp/*
/yarn-error.log
yarn-debug.log*

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
