<% if @climbs.empty? %>
  <p><em>No climbs</em></p>
<% else %>
  <table class="table climbs">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Grade</th>
        <th scope="col">Discipline</th>
        <th scope="col">Route</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @climbs.sort_by(&:climbed_on).reverse %>
    </tbody>
  </table>
<% end %>

<%= link_to "Create", new_climb_path, class: "btn btn-secondary" %>
<%= link_to "Import climbs from Mountain Project", mountain_project_climbs_path, method: :post, class: "btn btn-secondary" %>
