<table class="table climbs">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Grade</th>
      <th scope="col">Discipline</th>
    </tr>
  </thead>
  <tbody>
    <%= render @climbs %>
  </tbody>
</table>
