<table class="table climbs">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Grade</th>
      <th scope="col">Discipline</th>
      <th scope="col">Route</th>
    </tr>
  </thead>
  <tbody>
    <%= render @climbs.sort_by(&:climbed_on).reverse %>
    <% if @climbs.empty? %>
      <tr>
        <td colspan="4"><em>None</em></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Import climbs from Mountain Project", mountain_project_climbs_path, method: :post, class: "btn btn-secondary" %>
