<% if @climbs.empty? %>
  <p><em>None</em></p>
<% else %>
  <table class="table climbs">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Grade</th>
        <th scope="col">Discipline</th>
        <th scope="col">Route</th>
        <th scope="col">Type</th>
        <th scope="col">Lead Style</th>
        <th scope="col">Style</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <%= render @climbs.sort_by(&:climbed_on).reverse %>
      <% if @climbs.empty? %>
        <tr>
          <td colspan="4"><em>None</em></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Import climbs from Mountain Project", mountain_project_climbs_path, method: :post, class: "btn btn-secondary" %>
