<h2>Climbing Pyramids</h2>

<h3>Indoor Top Roping</h3>
<div class="pyramid">
  <% @pyramid.grades.each do |grade| %>
  <div class="grade">
    <% grade.climbs.each do |climb| %>
    <div class="climb"><%= climb.grade %></div>
  </div>
  <% end %>
</div>
<% end %>
