<h2>Climbing Pyramids</h2>

<h3>Indoor Top Roping</h3>
<div class="pyramid">
  <div class="grade">
    <div class="climb">5.11c</div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
  </div>
  <div class="grade">
    <div class="climb sent">5.11b</div>
    <div class="climb">5.11b</div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
  </div>
  <div class="grade">
    <div class="climb sent">5.11a</div>
    <div class="climb sent">5.11a</div>
    <div class="climb">5.11a</div>
    <div class="climb">5.11a</div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
    <div class="climb"></div>
  </div>
  <div class="grade">
    <div class="climb sent">5.10d</div>
    <div class="climb sent">5.10d</div>
    <div class="climb sent">5.10d</div>
    <div class="climb sent">5.10d</div>
    <div class="climb sent">5.10d</div>
    <div class="climb sent">5.10d</div>
    <div class="climb sent">5.10d</div>
    <div class="climb">5.10d</div>
  </div>
</div>
