<h2>Climbing Pyramids</h2>

<h3>Indoor Top Roping</h3>
<div class="pyramid">
  <% @pyramid.pyramid_grades.each do |pyramid_grade| %>
    <div class="pyramid_grade row">
      <div class="col-12">
        <div class="btn-group" role="group" aria-label="Pyramid row">
          <% pyramid_grade.climbs.each do |climb| %>
            <%= tag.button type: "button", class: "climb btn #{pyramid_climb_class(climb)}" do %>
              <%= climb.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
