<h2>Climbing Pyramids</h2>

<h3>Indoor Top Roping</h3>
<div class="pyramid">
  <% @pyramid.pyramid_grades.each do |pyramid_grade| %>
    <div class="pyramid_grade row">
      <% pyramid_grade.climbs.each do |climb| %>
        <%= tag.div class: "climb col-1 border #{pyramid_climb_class(climb)}" do %>
          <%= climb.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
