<h2><%= @pyramid.discipline.name %></h2>
<%= form_for(@pyramid) do |f| %>
  <%= f.collection_select :redpoint_grade, Grade.all(@pyramid.discipline), "name", "name", label: "Redpoint Grade", include_blank: true, selected: @pyramid.redpoint_grade&.name %>
  <%= f.submit "Save" %>
<% end %>
