@import url('https://fonts.googleapis.com/css?family=Overpass:400,700,900&display=swap');

$grid-columns:      12;

$orange:       #ff3e00 !default;
$primary:       $orange !default;

$font-family-sans-serif: Overpass, sans-serif !default;
$font-family-monospace:  'Fira Mono', monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$enable-responsive-font-sizes: true;

@import "bootstrap";
@import "rails_bootstrap_forms";

.pyramid .btn {
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {
  .pyramid .btn {
    font-size: 1rem;
  }
}

h1 {
  color: $orange;
  font-weight: 900;
}
